@import "../../../sass/variables";

.container {
  display: flex;
  flex-direction: row;
  max-width: 1380px;
  margin: 0 auto;

  @media screen and (max-width: $sm) {
    flex-flow: column;
    height: auto;
    align-items: center;
  }
}
