//? -----------------------------------------------------
//* This animation used in NewStory/Content/Options
//? ------------------------------------------------------
@keyframes option {
  0% {
    width: 10px;
    height: 10px;
  }
  20% {
    width: 15px;
    height: 15px;
  }
  100% {
    width: 30px;
    height: 30px;
  }
}
//? -----------------------------------------------------
//? ------------------------------------------------------
