@import "../../../sass/_variables.scss";

.Nav {
  width: 100%;
  background-color: $white;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  & ul {
    display: flex;
    width: 30%;
    justify-content: flex-start;
    align-items: center;
    column-gap: 5px;
    cursor: pointer;
    & li {
      color: $dark-500;
      font-size: 14px;
    }
  }
  & ul:last-child {
    justify-content: flex-end;
    & li {
      padding: 5px;
      color: $secondary-600;
      font-size: 18px;
    }
  }

  @media screen and (min-width: $md) {
    width: 60rem;
    margin: auto;
  }
}
