@import "../../../../../sass/variables";

.Item {
  position: relative;
  @media screen and (max-width: $sm) {
    position: unset;
  }
}

.Item img {
  border-radius: 100px;
}

.Options {
  position: absolute;
  z-index: 2;
  background-color: $white;
  width: 300px;
  left: 0;
  border: 1px solid $secondary-400;
  border-radius: 8px;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
  height: 28rem;

  @media screen and (min-width: $lg) {
    left: -130px;
  }

  @media screen and (max-width: $sm) {
    width: 100%;
  }
}

.Options::-webkit-scrollbar {
  width: 5px;
  background-color: $secondary-500;
  border-radius: 8px;

  @media screen and (min-width: $md) {
    display: none;
  }
}
.Options::-webkit-scrollbar-thumb {
  background-color: $secondary-600;
  border-radius: 8px;
}

.Head {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  position: relative;
  border-bottom: 1px solid $secondary-400;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: -10px;
    left: 28px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 10px solid $secondary-400;

    @media screen and (min-width: $sm) {
      left: 15px;
    }
    @media screen and (min-width: $lg) {
      left: auto;
      right: auto;
    }
  }

  & div {
    display: flex;
    flex-flow: column;
    padding: 15px;
    width: 50%;
    margin: 15px 0;
    color: $dark-500;
    & span {
      font-size: 12px;
    }

    & span:first-child {
      font-weight: bold;
    }
  }
}

.Items {
  display: flex;
  flex-flow: column;
  width: 100% !important;
  border-bottom: 1px solid $secondary-400;

  & li {
    width: 100%;
    font-size: 14px !important;
  }

  &:last-child {
    border-bottom: 0;
    & li:first-child {
      color: $success;
      transition: color 0.3s ease;
    }

    & li:first-child:hover {
      color: $dark-500;
    }
  }
}
