@import '../../../sass/variables';

.container {
  width: 100%;
  height: 550px;
  background-color: $primary;
  display: flex;
  flex-direction: column;
  .header {
    position: fixed;
    width: 100%;
  }
  .headerTop1 {
    height: 75px;
    border-bottom: 1px solid $dark-600;
    display: flex;
    background-color: $primary;
    transition: 0.4s;
    .logo {
      flex: 1;
      display: flex;
      align-items: center;
      color: $dark-600;
      font-size: 30px;
      font-weight: bold;
      padding: 0 100px 0 0;
      a {
        cursor: pointer;
        width: 160px;
        height: 25;
        display: flex;
        align-items: center;
      }
      .svg {
        width: 100%;
        height: 100%;
        transform: translate3d(0px, 0px, 0px);
        content-visibility: visible;
      }
    }
    .navbar {
      flex: 1;
      ul {
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
        color: $dark-500;
        font-size: 18px;

        li {
          cursor: pointer;
        }
      }
    }
  }
  .headerTop2 {
    height: 75px;
    border-bottom: 1px solid $dark-600;
    display: flex;
    background-color: $white;
    transition: 0.4s;
    .logo {
      flex: 1;
      display: flex;
      align-items: center;
      color: $dark-600;
      font-size: 30px;
      font-weight: bold;
      padding: 0 100px 0 0;
      a {
        cursor: pointer;
        width: 160px;
        height: 25;
        display: flex;
        align-items: center;
      }
      .svg {
        width: 100%;
        height: 100%;
        transform: translate3d(0px, 0px, 0px);
        content-visibility: visible;
      }
    }
    .navbar {
      flex: 1;
      ul {
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
        color: $dark-500;
        font-size: 18px;

        li {
          cursor: pointer;
        }
      }
    }
  }
  .button {
    padding: 7px 20px 9px;
    background-color: $dark-500;
    color: $white;
    border-radius: 50px;
    border: none;
    font-size: 16px;
    font-family: inherit;
    width: fit-content;
    cursor: pointer;
    &:hover {
      background-color: $dark-600;
    }
    @media screen and (max-width: 600px) {
      font-size: 16px !important;
    }
  }
  .buttonScrooled {
    padding: 7px 20px 9px;
    background-color: rgb(26, 137, 23);
    color: $white;
    border-radius: 50px;
    border: none;
    font-size: 16px;
    font-family: inherit;
    cursor: pointer;
    transition: 0.4s;
    &:hover {
      background-color: rgb(21, 110, 18);
    }
  }
  .headerMain {
    display: flex;
    justify-content: center;
    .titleDiv {
      width: 100%;
      height: 550px;
      justify-content: center;
      display: flex;
      flex-flow: column;
      justify-content: center;
      padding-right: 32px;
      @media screen and (max-width: 600px) {
        align-items: center;
        padding-right: 0;
      }
      h1 {
        margin: 0;
        color: $dark;
        font-size: 100px;

        @media screen and (max-width: 600px) {
          font-size: 5rem;
        }
        @media screen and (max-width: 380px) {
          font-size: 3.2rem !important;
        }
      }
      h3 {
        color: $dark-500;
        word-spacing: 3px;
        font-size: 22px;
        font-weight: 100;
        margin-bottom: 50px;

        @media screen and (max-width: 600px) {
          font-size: 1rem;
        }
      }
    }
  }
}

.svgDiv {
  width: 40rem;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
  transition: all ease;

  & span:nth-child(2),
  span:nth-child(4),
  span:nth-child(6),
  span:nth-child(8),
  span:nth-child(10),
  span:nth-child(12) {
    animation: fade 2s ease infinite backwards;
  }
  & span:nth-child(14),
  span:nth-child(16),
  span:nth-child(18),
  span:nth-child(20),
  span:nth-child(24),
  span:nth-child(26) {
    animation: fade 3s ease infinite backwards;
  }
  & span:nth-child(28),
  span:nth-child(30),
  span:nth-child(32),
  span:nth-child(34),
  span:nth-child(36),
  span:nth-child(38),
  span:nth-child(40) {
    animation: fade 4s ease infinite backwards;
  }
  & span:nth-child(28),
  span:nth-child(30),
  span:nth-child(32),
  span:nth-child(34),
  span:nth-child(36),
  span:nth-child(38),
  span:nth-child(40) {
    animation: fade 5s ease infinite backwards;
  }
  & span:nth-child(42),
  span:nth-child(44),
  span:nth-child(46),
  span:nth-child(48),
  span:nth-child(50),
  span:nth-child(52),
  span:nth-child(54) {
    animation: fade 6s ease infinite backwards;
  }
  & span:nth-child(56),
  span:nth-child(58),
  span:nth-child(60),
  span:nth-child(62),
  span:nth-child(64),
  span:nth-child(68),
  span:nth-child(70) {
    animation: fade 2.5s ease infinite backwards;
  }
  & span:nth-child(1),
  span:nth-child(3),
  span:nth-child(5),
  span:nth-child(7),
  span:nth-child(9),
  span:nth-child(11),
  span:nth-child(13) {
    animation: fade 3.5s ease infinite backwards;
  }
  & span:nth-child(15),
  span:nth-child(17),
  span:nth-child(19),
  span:nth-child(21),
  span:nth-child(23),
  span:nth-child(25),
  span:nth-child(27) {
    animation: fade 1.5s ease infinite backwards;
  }
}

.char {
  position: absolute;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
