@import '../../../sass/variables';

.container {
  width: 100%;
  height: 550px;
  background-color: $primary;
  display: flex;
  flex-direction: column;
  .header {
    position: fixed;
    width: 100%;
  }
  .headerTop1 {
    height: 75px;
    border-bottom: 1px solid $dark-600;
    display: flex;
    background-color: $primary;
    transition: 0.4s;
    .logo {
      flex: 1;
      display: flex;
      align-items: center;
      color: $dark-600;
      font-size: 30px;
      font-weight: bold;
      padding: 0 100px 0 0;
      a {
        cursor: pointer;
        width: 160px;
        height: 25;
        display: flex;
        align-items: center;
      }
      .svg {
        width: 100%;
        height: 100%;
        transform: translate3d(0px, 0px, 0px);
        content-visibility: visible;
      }
    }
    .navbar {
      flex: 1;
      ul {
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
        color: $dark-500;
        font-size: 18px;

        li {
          cursor: pointer;
        }
      }
    }
  }
  .headerTop2 {
    height: 75px;
    border-bottom: 1px solid $dark-600;
    display: flex;
    background-color: $white;
    transition: 0.4s;
    .logo {
      flex: 1;
      display: flex;
      align-items: center;
      color: $dark-600;
      font-size: 30px;
      font-weight: bold;
      padding: 0 100px 0 0;
      a {
        cursor: pointer;
        width: 160px;
        height: 25;
        display: flex;
        align-items: center;
      }
      .svg {
        width: 100%;
        height: 100%;
        transform: translate3d(0px, 0px, 0px);
        content-visibility: visible;
      }
    }
    .navbar {
      flex: 1;
      ul {
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
        color: $dark-500;
        font-size: 18px;

        li {
          cursor: pointer;
        }
      }
    }
  }
  .button {
    padding: 7px 20px 9px;
    background-color: $dark-500;
    color: $white;
    border-radius: 50px;
    border: none;
    font-size: 16px;
    font-family: inherit;
    width: fit-content;
    cursor: pointer;
    &:hover {
      background-color: $dark-600;
    }
    @media screen and (max-width: 600px) {
      font-size: 16px !important;
    }
  }
  .buttonScrooled {
    padding: 7px 20px 9px;
    background-color: rgb(26, 137, 23);
    color: $white;
    border-radius: 50px;
    border: none;
    font-size: 16px;
    font-family: inherit;
    cursor: pointer;
    transition: 0.4s;
    &:hover {
      background-color: rgb(21, 110, 18);
    }
  }
  .headerMain {
    display: flex;
    justify-content: center;
    .titleDiv {
      width: 100%;
      height: 550px;
      justify-content: center;
      display: flex;
      flex-flow: column;
      justify-content: center;
      padding-right: 32px;
      @media screen and (max-width: 600px) {
        align-items: center;
        padding-right: 0;
      }
      h1 {
        margin: 0;
        color: $dark;
        font-size: 100px;

        @media screen and (max-width: 600px) {
          font-size: 5rem;
        }
        @media screen and (max-width: 380px) {
          font-size: 3.2rem !important;
        }
      }
      h3 {
        color: $dark-500;
        word-spacing: 3px;
        font-size: 22px;
        font-weight: 100;
        margin-bottom: 50px;

        @media screen and (max-width: 600px) {
          font-size: 1rem;
        }
      }
    }
  }
}

.svgDiv {
  width: 40rem;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
  transition: all ease;

  @media screen and (max-width: 600px) {
    display: none;
  }

  & span:nth-child(1),
  span:nth-child(2),
  span:nth-child(3),
  span:nth-child(4),
  span:nth-child(5),
  span:nth-child(6),
  span:nth-child(7),
  span:nth-child(8),
  span:nth-child(9),
  span:nth-child(10),
  span:nth-child(11),
  span:nth-child(12),
  span:nth-child(13),
  span:nth-child(14),
  span:nth-child(15),
  span:nth-child(16),
  span:nth-child(18),
  span:nth-child(19),
  span:nth-child(20),
  span:nth-child(21),
  span:nth-child(22),
  span:nth-child(23),
  span:nth-child(24),
  span:nth-child(25),
  span:nth-child(26),
  span:nth-child(27),
  span:nth-child(28),
  span:nth-child(29),
  span:nth-child(30) {
    animation: fade 2s ease infinite backwards;
  }
  & span:nth-child(31),
  span:nth-child(32),
  span:nth-child(33),
  span:nth-child(34),
  span:nth-child(35),
  span:nth-child(36),
  span:nth-child(37),
  span:nth-child(38),
  span:nth-child(39),
  span:nth-child(40),
  span:nth-child(41),
  span:nth-child(42),
  span:nth-child(43),
  span:nth-child(44),
  span:nth-child(45),
  span:nth-child(46),
  span:nth-child(47),
  span:nth-child(48),
  span:nth-child(49),
  span:nth-child(50),
  span:nth-child(51),
  span:nth-child(52),
  span:nth-child(53),
  span:nth-child(54),
  span:nth-child(55),
  span:nth-child(56),
  span:nth-child(57),
  span:nth-child(58),
  span:nth-child(59),
  span:nth-child(60) {
    animation: fade 3s ease infinite backwards;
  }
  & span:nth-child(61),
  & span:nth-child(62),
  & span:nth-child(63),
  & span:nth-child(64),
  & span:nth-child(65),
  & span:nth-child(66),
  & span:nth-child(67),
  & span:nth-child(68),
  & span:nth-child(69),
  & span:nth-child(71),
  & span:nth-child(72),
  & span:nth-child(73),
  & span:nth-child(74),
  & span:nth-child(75),
  & span:nth-child(76),
  & span:nth-child(77),
  & span:nth-child(78),
  & span:nth-child(79),
  & span:nth-child(81),
  & span:nth-child(82),
  & span:nth-child(83),
  & span:nth-child(84),
  & span:nth-child(85),
  & span:nth-child(86),
  & span:nth-child(87),
  & span:nth-child(88),
  & span:nth-child(89),
  & span:nth-child(90) {
    animation: fade 4s ease infinite backwards;
  }
  & span:nth-child(91),
  & span:nth-child(92),
  & span:nth-child(93),
  & span:nth-child(94),
  & span:nth-child(95),
  & span:nth-child(96),
  & span:nth-child(97),
  & span:nth-child(98),
  & span:nth-child(99),
  & span:nth-child(100),
  & span:nth-child(101),
  & span:nth-child(102),
  & span:nth-child(103),
  & span:nth-child(104),
  & span:nth-child(105),
  & span:nth-child(106),
  & span:nth-child(107),
  & span:nth-child(108),
  & span:nth-child(109),
  & span:nth-child(110) {
    animation: fade 5s ease infinite backwards;
  }
  & span:nth-child(111),
  & span:nth-child(112),
  & span:nth-child(113),
  & span:nth-child(114),
  & span:nth-child(115),
  & span:nth-child(116),
  & span:nth-child(117),
  & span:nth-child(118),
  & span:nth-child(119),
  & span:nth-child(120),
  & span:nth-child(121),
  & span:nth-child(122),
  & span:nth-child(123),
  & span:nth-child(124),
  & span:nth-child(125),
  & span:nth-child(126),
  & span:nth-child(127),
  & span:nth-child(128),
  & span:nth-child(129),
  & span:nth-child(130),
  & span:nth-child(130),
  & span:nth-child(130),
  & span:nth-child(130),
  & span:nth-child(130),
  & span:nth-child(131),
  & span:nth-child(132),
  & span:nth-child(133),
  & span:nth-child(134),
  & span:nth-child(135),
  & span:nth-child(136),
  & span:nth-child(137),
  & span:nth-child(138),
  & span:nth-child(139),
  & span:nth-child(140) {
    animation: fade 6s ease infinite backwards;
  }
  & span:nth-child(141),
  & span:nth-child(142),
  & span:nth-child(143),
  & span:nth-child(144),
  & span:nth-child(145),
  & span:nth-child(146),
  & span:nth-child(147),
  & span:nth-child(148),
  & span:nth-child(149),
  & span:nth-child(150),
  & span:nth-child(151),
  & span:nth-child(152),
  & span:nth-child(153),
  & span:nth-child(154),
  & span:nth-child(155),
  & span:nth-child(156),
  & span:nth-child(157),
  & span:nth-child(158),
  span:nth-child(158),
  & span:nth-child(159),
  span:nth-child(160),
  span:nth-child(161),
  span:nth-child(162),
  span:nth-child(163),
  span:nth-child(164),
  span:nth-child(165),
  span:nth-child(166),
  span:nth-child(167),
  span:nth-child(168),
  span:nth-child(169),
  span:nth-child(170) {
    animation: fade 2.5s ease infinite backwards;
  }
  & span:nth-child(171),
  & span:nth-child(172),
  & span:nth-child(173),
  & span:nth-child(174),
  & span:nth-child(175),
  & span:nth-child(176),
  & span:nth-child(177),
  & span:nth-child(178),
  & span:nth-child(179),
  & span:nth-child(180),
  & span:nth-child(181),
  & span:nth-child(182),
  & span:nth-child(183),
  & span:nth-child(184),
  & span:nth-child(185),
  & span:nth-child(186),
  & span:nth-child(187),
  & span:nth-child(188),
  & span:nth-child(189),
  & span:nth-child(190),
  & span:nth-child(191),
  & span:nth-child(192),
  & span:nth-child(193),
  & span:nth-child(194),
  & span:nth-child(195),
  & span:nth-child(196),
  & span:nth-child(197),
  & span:nth-child(198),
  & span:nth-child(199),
  & span:nth-child(200) {
    animation: fade 3.5s ease infinite backwards;
  }
  & span:nth-child(201),
  span:nth-child(202),
  span:nth-child(203),
  span:nth-child(204),
  span:nth-child(205),
  span:nth-child(206),
  span:nth-child(207),
  span:nth-child(208),
  span:nth-child(209),
  span:nth-child(210),
  span:nth-child(211),
  span:nth-child(212),
  span:nth-child(213),
  span:nth-child(214),
  span:nth-child(215),
  span:nth-child(216),
  span:nth-child(217),
  span:nth-child(218),
  span:nth-child(219),
  span:nth-child(220),
  span:nth-child(221),
  span:nth-child(222),
  span:nth-child(223),
  span:nth-child(224),
  span:nth-child(225),
  span:nth-child(226),
  span:nth-child(227),
  span:nth-child(228),
  span:nth-child(229),
  span:nth-child(230) {
    animation: fade 1.5s ease infinite backwards;
  }
}

.char {
  position: absolute;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
