@import '../../../../sass/variables';

.Main {
    width: 100%;
    flex: 12;
    padding: 0 20px;
    // margin-top: 5rem;
    @media screen and (min-width: $md) {
        flex: 8;
        padding: 0 80px;
        width: 60%;
    }
}

.Navbar {
    margin: 3rem 0;
    & ul {
        display: flex;
        gap: 15px;
        border-bottom: 1px solid $secondary-400;
        padding: 0;
        & li {
            padding: 20px 0;
            cursor: pointer;
            color: $dark-500;

            &:first-child {
                border-bottom: 1px solid $dark-500;
            }
        }
    }
}
