@import "../../../../sass/variables";

.Main {
  height: 100vh;
  width: 100%;
  flex: 12;
  padding: 0 20px;
  @media screen and (min-width: $md) {
    flex: 8;
    padding: 0 80px;
    width: 60%;
    border-left: 1px solid $secondary-500;
  }
}

.Head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;

  & div {
    display: flex;
    align-items: center;
    gap: 10px;
    & img {
      border-radius: 100px;

      @media screen and (min-width: $md) {
        display: none;
      }
    }
  }

  & svg {
    font-size: 1.5rem;
    cursor: pointer;
  }
}

.Options {
  position: absolute;
  left: -70px;
  top: 60px;
  z-index: 4;
  background-color: $white;
  width: 10rem;
  border-radius: 8px;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
  border: 1px solid $secondary-500;

  &::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    right: 45%;
    position: absolute;
    top: -10px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 10px solid $secondary-400;
    @media screen and (max-width: $md) {
      right: 90%;
    }
  }

  & ul {
    display: flex;
    flex-flow: column;
  }

  & ul li {
    color: $dark-500;
    cursor: pointer;
  }

  @media screen and (max-width: $md) {
    left: 0;
  }
}

.Navbar {
  margin: 3rem 0;
  & ul {
    display: flex;
    gap: 15px;
    border-bottom: 1px solid $secondary-400;
    padding: 0;
    & li {
      padding: 20px 0;
      cursor: pointer;
      color: $dark-500;

      &:first-child {
        border-bottom: 1px solid $dark-500;
      }
    }
  }
}

.ReadingList {
  border: 1px solid $secondary-400;
  border-radius: 8px;
  display: flex;
  @media screen and (max-width: 350px) {
    justify-content: center;
  }
}

.ReadingListLeft {
  width: 40%;
  display: flex;
  align-items: center;
  position: relative;

  div:first-child {
    width: 10rem;
    height: 100%;
    background-color: $dark-500;
    position: absolute;
    z-index: 3;
    left: 100px;
    @media screen and (max-width: $sm) {
      width: 5rem;
      height: 5rem;
    }
  }
  div:nth-child(2) {
    width: 10rem;
    height: 100%;
    background-color: $dark-500;
    position: absolute;
    z-index: 2;
    left: 30px;
    @media screen and (max-width: $sm) {
      width: 5rem;
      height: 5rem;
    }
  }
  div:last-child {
    width: 10rem;
    height: 100%;
    background-color: $dark-500;
    position: absolute;
    z-index: 1;
    left: 0;
    border-radius: 8px 0 0 8px;
    @media screen and (max-width: $sm) {
      width: 5rem;
      height: 5rem;
    }
  }
  div {
    & span {
      width: 100%;
      height: 100%;
      display: block;
      border-radius: 100px;
      background: $secondary-700;
    }
  }

  @media screen and (max-width: 350px) {
    display: none;
  }
}

.ReadingListRight {
  width: 60%;
  padding: 20px;
  & div {
    display: flex;
    align-items: center;
    gap: 5px;
    & svg {
      font-size: 10px;
    }
  }

  @media screen and (max-width: $sm) {
    font-size: 14px;
  }
}
