@import '../../sass/_variables.scss';

@import '../../sass/animations';
.modal {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(250, 250, 250, 0.95);
    backdrop-filter: opacity(0.5);
    position: fixed;
    z-index: 10;
    top: 0;
}
.container {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 80%;
    max-width: 40rem;
    height: 90%;
    max-height: 40rem;
    overflow-y: scroll;
    background-color: $white;
    box-shadow: 2px 3px 8px #30303033;
    border-radius: 8px;
    position: absolute;
    top: 20%;
    @include animation-auth(animation-auth);
    animation: animation-auth 0.2s linear both;

    @media screen and (max-width: 768px) {
        width: 100%;
    }
    z-index: 1000;
    overflow-y: hidden;
}
.times {
    font-size: 1.5rem;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
}
