@import '../../../../sass/variables';

.Sidebar {
  display: none;
  @media screen and (min-width: $md) {
    display: flex;
    flex-flow: column;
    padding: 2rem;
    flex: 4;
    width: 40%;
  }

  & div:first-child {
    & button {
      border: 0;
      outline: 0;
      padding: 8px;
      background-color: $dark-500;
      color: $white;
      border-radius: 100px;
      margin: 20px 0;
      width: 15rem;
      transition: background 0.2s ease;
      cursor: pointer;
      &:hover {
        background-color: $dark-600;
      }
    }
  }

  & div:last-child {
    & img {
      border-radius: 100px;
      margin-top: 30px;
    }

    & p {
      color: $dark-500;
    }

    & a {
      color: $success;
      font-size: 14px;
      transition: color 0.2s ease;
      &:hover {
        color: $dark-500;
      }
    }
  }
}

.profile {
  width: 4rem;
  height: 4rem;
  border-radius: 100px;
}

.avatar {
  width: 4rem;
  height: 4rem;
  background-color: $primary;
  border-radius: 100px;
  display: grid;
  place-items: center;
  font-size: 1.5rem;
}
