@import '../../../../sass/variables';

.Sidebar {
  display: none;
  position: sticky !important;
  top: 0;
  @media screen and (min-width: $md) {
    display: flex;
    flex-flow: column;
    padding: 2rem;
    flex: 4;
    width: 40%;
    height: auto;
  }

  & div:nth-child(1) {
    & img {
      border-radius: 100px;
      margin-top: 30px;
    }

    & p {
      color: $dark-500;
    }

    & a {
      color: $success;
      font-size: 14px;
      transition: color 0.2s ease;
      &:hover {
        color: $dark-500;
      }
    }
  }
}

.profile {
  width: 4rem;
  height: 4rem;
  border-radius: 100px;
}

.avatar {
  width: 4rem;
  height: 4rem;
  background-color: $primary;
  border-radius: 100px;
  display: grid;
  place-items: center;
  font-size: 1.5rem;
}

.followers {
  color: $secondary-700;
  padding: 8px;
  & span:last-child {
    padding: 8px;
  }
}

.about {
  color: $secondary-700;
  padding-bottom: 8px;
  font-size: 14px;
}

.skills {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;
  & li {
    background-color: $secondary-500;
    padding: 8px;
    border-radius: 8px;
  }
}
