@import '../../sass/variables';

.Lists {
    background-color: $white;
    border: 1px solid $secondary-500;
    font-size: 14px;
    width: 200px;
    border-radius: 5px;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 18px;

    & ul {
        width: 100%;
        padding: 12px;
        & li {
            width: 100% !important;
            padding: 8px;
            text-align: center;
        }

        & li:hover {
            color: $dark-500;
        }
    }
}

.lock {
    font-size: 10px;
}
