.container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;

  margin-bottom: 20px;
  padding: 20px;
  flex: 3;
}
.profileBox {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 11px;
}
.profileImg {
  border-radius: 50%;
}
.mainImage {
  margin: 0 auto;
}
.body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.title {
  width: 100%;
}
