@import "../src/sass/_variables.scss";

@font-face {
  font-family: "Vazir";
  src: url("../public/fonts/Vazir-Medium.woff");
  src: url("../public/fonts/Vazir-Medium.woff2");
  src: url("../public/fonts/Vazir-Medium.ttf");
  font-weight: 400;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Vazir, sans-serif;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: Vazir, sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

body::-webkit-scrollbar {
  width: 0.5rem;
  background-color: #ffffff;
}

body::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: #cccccc;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
